In [5]:
# Creating Tuples : 

t = ()
print(type(t)) # empty tuple 

t = (1,2,3,4,5) # homogeneous tuple

t = (1,2,3,5,7,"Hello") # hetrogeneous tuple

t =(1) # one single element tuple not possible
print(type(t))
t =('wow')
print(type(t))

# to create single item tuple -> add a comma after the item :  
t=(7,)
print(type(t))

# type conversion : 
t=tuple([1,2,3])

<class 'tuple'>
<class 'int'>
<class 'str'>
<class 'tuple'>

In [14]:
# Accessing Elements : 

t=(1,2,3,4,5,6)
print(t[0])

print(t[::-1])

t=(12,3,4,5,(99,"A"))
print(t[-1][-1])

# --- TOUPLES VS LIST ---: 
# TOUPLES ARE IMMUTABE 

l = [1,2,3,4,5]
l[0]=99 # possible

# t[0]=99 # not possible

# new items can not be added

1
(6, 5, 4, 3, 2, 1)
A

In [17]:
# Operations : 

t1=(1,2,3,4,5)
t2=(6,7,8)

t3=t1+t2
print(t3)

t4=t1*2
print(t4)

for i in t4:
    print(i,end=' ')

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1 2 3 4 5 1 2 3 4 5

In [18]:
# functions : 

t=(1,2,3,4,5)

print(len(t))

print(min(t))

print(max(t))

print(sum(t))

print(sorted(t))

print(sorted(t,reverse=True))

5
1
5
15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]